html {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    -webkit-flex: 1;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: stretch;
    /*background :red;*/
    border: 2px dashed silver;
    height: 100vh;
    width: 100vw;
}

body > header {
    height: 10%;
    background: rgba(0,0,0,0.5);
}

body > footer {
    height: 10%;
    background: rgba(0,0,0,0.5);
}

body > section {
    -webkit-flex: 1;
}

#main {
    height: 100%;
    background: green;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#pane-right {
    width: 20%;
    height: 80%;
    background: red;
    overflow: hidden;
    /*overflow-y: scroll; *//* has to be scroll, not auto */
}

#scroll-pane-1 {
    width: 100%;
    height: 4000px;
    background: red;
}


#console {
    position: absolute;
    bottom: 0; right: 0;
    width: 400px;
    height: 150px;
    background: rgba(0,0,0,0.2);
}

/*//ripple*/

[angular-ripple] {
    position: relative;
    overflow: hidden;
}
.angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    transform: scale(0);
}
.angular-ripple.animate {
    animation: ripple 0.35s linear;
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}